#u8575-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6014-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u6016-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u6059-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u6061-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u6055-4
{
	font-family: lato-n9, sans-serif;
}

#u6054-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6049-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6053-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6020-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u9108,#u8592-4
{
	font-family: open-sans-n8, sans-serif;
}

#u8603-4
{
	font-family: open-sans-n8, sans-serif;
}

#u8618-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9108-5,#u9116-9,#u6070-4,#u6071-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6072-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6075-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6073-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6074-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6076-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6077-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6078-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3373-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4535-4,#u7505-4,#u7525-4,#u7550-4,#u7565-4,#u7252-4,#u7572-4,#u7590-4,#u7606-4,#u7618-4,#u7642-4,#u7433-4,#u7661-4,#u7461-4,#u7678-4,#u7694-4,#u7699-4,#u7723-4,#u7735-4,#u7757-4,#u7768-4,#u7785-4,#u7312-4,#u7486-4,#u7294-4,#u7423-4,#u7802-4,#u7334-4,#u7819-4,#u7833-4,#u7842-4,#u7867-4,#u7886-4,#u7894-4,#u7371-4,#u7359-4,#u7914-4,#u7497-4,#u7385-4,#u7926-4,#u7398-4,#u7944-4,#u7966-4,#u7974-4,#u7987-4,#u8009-4,#u8020-4,#u8039-4,#u8049-4,#u8069-4,#u8087-4,#u8102-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4534-4,#u4536-7,#u7244-4,#u7245-4,#u7246-4,#u7247-4,#u7248-4,#u7249-4,#u7266-4,#u7267-4,#u7268-4,#u7269-4,#u7270-4,#u7271-4,#u7272-4,#u7273-4,#u7274-4,#u7275-4,#u7276-4,#u7277-4,#u7278-4,#u7279-4,#u7280-4,#u7281-4,#u7282-4,#u7283-4,#u7316-4,#u7317-4,#u7318-4,#u7335-4,#u7336-4,#u7337-4,#u7338-4,#u7339-4,#u7340-4,#u7341-4,#u7342-4,#u7343-4,#u7376-4,#u7377-4,#u7378-4,#u7395-4,#u7428-4,#u7429-4,#u7462-4,#u7463-4,#u7464-4,#u7465-4,#u7466-4,#u7467-4,#u7468-4,#u7469-4,#u7470-4
{
	font-family: open-sans-n3, sans-serif;
}

