#u8813-4
{
	font-family: open-sans-n7, sans-serif;
}

#u8760-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u8764-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u8769-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u8762-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u8806-4
{
	font-family: lato-n9, sans-serif;
}

#u8804-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8780-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8805-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8810-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u9115
{
	font-family: open-sans-n8, sans-serif;
}

#u9115-5,#u9117-9,#u8738-4,#u8755-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8756-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8749-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8745-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8753-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8752-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8730-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8748-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8754-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6471-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6464-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6476-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6480-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6456-4,#u6461-4,#u6458-4,#u6460-8,#u6484-6,#u6485-4,#u6486-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6457-4,#u6459-4,#u6483-4,#u6487-6
{
	font-family: open-sans-n4, sans-serif;
}

