#u8567-4
{
	font-family: open-sans-n7, sans-serif;
}

#u670-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u694-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u2540-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u2542-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u9105
{
	font-family: open-sans-n8, sans-serif;
}

#u2085-4
{
	font-family: lato-n9, sans-serif;
}

#u2088-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2087-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2080-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2468-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u9105-5,#u9107-9,#u3348-4,#u3349-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3350-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3353-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3351-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3352-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3354-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3355-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3356-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3360-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6096-4
{
	font-family: open-sans-n8, sans-serif;
}

#u6116-4
{
	font-family: open-sans-n8, sans-serif;
}

#u6127-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9002-4
{
	font-family: open-sans-n7, sans-serif;
}

#u3024-6,#u3052-6,#u3062-6
{
	font-family: open-sans-n6, sans-serif;
}

#u9079-4,#u799-4,#u2938-8,#u2939-4,#u2940-4,#u9080-4,#u1484-4,#u5846-6,#u5847-6,#u5848-6
{
	font-family: open-sans-n3, sans-serif;
}

#u9078-6,#u3027-4,#u3050-4,#u3061-4,#u5843-6,#u5844-4,#u5845-4
{
	font-family: open-sans-n4, sans-serif;
}

