#u8575-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6014-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u6016-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u6059-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u6061-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u6055-4
{
	font-family: lato-n9, sans-serif;
}

#u6054-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6049-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6053-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6020-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u9108,#u8592-4
{
	font-family: open-sans-n8, sans-serif;
}

#u8603-4
{
	font-family: open-sans-n8, sans-serif;
}

#u8618-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9108-5,#u9116-9,#u6070-4,#u6071-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6072-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6075-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6073-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6074-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6076-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6077-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6078-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3373-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6449-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6452-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6371-6,#u6387-6,#u6402-6
{
	font-family: open-sans-n6, sans-serif;
}

#u6369-4,#u6383-4,#u6403-4
{
	font-family: open-sans-n4, sans-serif;
}

