#u8575-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6014-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u6016-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u6059-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u6061-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u6055-4
{
	font-family: lato-n9, sans-serif;
}

#u6054-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6049-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6053-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6020-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u9108,#u8592-4
{
	font-family: open-sans-n8, sans-serif;
}

#u8603-4
{
	font-family: open-sans-n8, sans-serif;
}

#u8618-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9108-5,#u9116-9,#u6070-4,#u6071-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6072-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6075-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6073-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6074-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6076-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6077-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6078-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3373-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3734-4,#u6497-4,#u6512-4,#u6535-4,#u6545-4,#u6567-4,#u6582-4,#u6867-4,#u6596-4,#u6622-4,#u6939-4,#u6923-4,#u6643-4,#u6949-4,#u6669-4,#u6652-4,#u7003-4,#u7015-4,#u6690-4,#u6726-4,#u6960-4,#u6703-4,#u6762-4,#u6979-4,#u6741-4,#u6885-4,#u7026-4,#u7038-4,#u7066-4,#u7077-4,#u6789-4,#u6904-4,#u6812-4,#u6804-4,#u6847-4,#u6841-4,#u7097-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3733-4,#u3735-4,#u6504-4,#u6505-4,#u6506-4,#u6555-4,#u6556-4,#u6557-4,#u6590-4,#u6591-4,#u6592-4,#u6625-4,#u6626-4,#u6627-4,#u6644-4,#u6645-4,#u6646-4,#u6679-4,#u6680-4,#u6681-4,#u6698-4,#u6699-4,#u6700-4,#u6733-4,#u6734-4,#u6735-4,#u6768-4,#u6769-4,#u6770-4,#u6771-4,#u6772-4,#u6773-4,#u6790-4,#u6791-4,#u6792-4,#u6825-4,#u6826-4,#u6827-4
{
	font-family: open-sans-n3, sans-serif;
}

