#u9355-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9370-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9340-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9306-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9391-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9385-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9326-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9420-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9424-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9422-5,#u9421-5,#u9423-5
{
	font-family: open-sans-n7, sans-serif;
}

#u10611-5,#u10516-4
{
	font-family: open-sans-n7, sans-serif;
}

#u10518-6,#u10521-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10522-4,#u10539-4,#u10551-4,#u10552-4,#u10555-4,#u10520-6,#u10558-4,#u10556-4,#u10561-4,#u10559-4,#u10553-4
{
	font-family: open-sans-n3, sans-serif;
}

