#u9355-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9370-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9340-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9306-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9391-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9385-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9326-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9420-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9424-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9422-5,#u9421-5,#u9423-5
{
	font-family: open-sans-n7, sans-serif;
}

#u9433-4
{
	font-family: open-sans-n4, sans-serif;
}

#u9432-4,#u9434-4,#u9435-4,#u9440-4,#u9443-4,#u9446-4,#u9449-4,#u9452-4,#u9455-4,#u9458-4,#u9461-4,#u9464-4,#u9467-4,#u9470-4,#u9473-4,#u9476-4,#u9479-4,#u9482-4,#u9485-4,#u9488-4,#u9491-4,#u9494-4,#u9497-4,#u9500-4,#u9503-4,#u9506-4,#u9509-4,#u9512-4,#u9515-4,#u9518-4,#u9521-4,#u9524-4,#u9527-4,#u9530-4,#u9533-4,#u9536-4,#u9539-4,#u9542-4
{
	font-family: open-sans-n3, sans-serif;
}

