#u9355-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9370-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9340-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9306-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9391-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9385-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9326-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9420-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9424-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9422-5,#u9421-5,#u9423-5
{
	font-family: open-sans-n7, sans-serif;
}

#u10318-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10320-4
{
	font-family: open-sans-n8, sans-serif;
}

#u10317-4,#u10319-8,#u10327-21,#u10329-2,#u10329-3
{
	font-family: open-sans-n3, sans-serif;
}

#u10329-5
{
	font-family: open-sans-n8, sans-serif;
}

