#u9355-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9370-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9340-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9306-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9391-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9385-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9326-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9420-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9424-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9422-5,#u9421-5,#u9423-5
{
	font-family: open-sans-n7, sans-serif;
}

#u10354-4,#u10355-2,#u10357-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10356-4
{
	font-family: open-sans-n8, sans-serif;
}

#u10358-4,#u10377-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10371-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10368-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10364-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10380-3,#u10380-5,#u10380-6,#u10380-8,#u10380-9,#u10380-12,#u10380-14,#u10380-16,#u10380-17
{
	font-family: open-sans-n4, sans-serif;
}

#u10355-4,#u10382-5,#u10383-5,#u10381-5,#u10380-2,#u10380-11,#u10380-19
{
	font-family: open-sans-n7, sans-serif;
}

