#u9355-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9370-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9340-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9306-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9391-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9385-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9326-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9420-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9424-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9422-5,#u9421-5,#u9423-5
{
	font-family: open-sans-n7, sans-serif;
}

#u10117-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10116-4,#u10118-4,#u10119-4,#u10124-4,#u10127-4,#u10130-4,#u10133-4,#u10136-4,#u10139-4,#u10142-4,#u10145-4,#u10148-4,#u10151-4,#u10154-4
{
	font-family: open-sans-n3, sans-serif;
}

