#u9355-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9370-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9340-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9306-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9391-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9385-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9326-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9420-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9424-4
{
	font-family: open-sans-n8, sans-serif;
}

#u9422-5,#u9421-5,#u9423-5
{
	font-family: open-sans-n7, sans-serif;
}

#u9724-4
{
	font-family: open-sans-n4, sans-serif;
}

#u9723-4,#u9725-6,#u9726-4,#u9731-4,#u9734-4,#u9737-4,#u9740-4,#u9743-4,#u9746-4,#u9749-4,#u9752-4,#u9755-4,#u9758-4,#u9761-4,#u9764-4,#u9767-4,#u9770-4,#u9773-4,#u9776-4,#u9779-4,#u9782-4,#u9785-4,#u9788-4,#u9791-4,#u9794-4,#u9797-4,#u9800-4,#u9801-4,#u9806-4,#u9809-4,#u9812-4,#u9815-4,#u9818-4,#u9821-4,#u9824-4,#u9827-4,#u9830-4,#u9833-4,#u9836-4,#u9839-4,#u9842-4,#u9845-4,#u9848-4,#u9851-4,#u9854-4,#u9857-4,#u9860-4,#u9863-4,#u9866-4,#u9869-4,#u9872-4,#u9875-4,#u9878-4
{
	font-family: open-sans-n3, sans-serif;
}

